/*================================== RECOACOMP EQUIPE CSS ==================================*/

.arroba:before{
    content:'@';
}

html,body{height:100%;}

html {
    width: 100%;
    background: url("../img/pattern1.png") repeat 0 0;
}

body{    
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding-top:55px;
    background-repeat:repeat-y;    
}

/*HEADER---------------------------------------------------------------------*/

.header-large{
    position:fixed;
    top:0;
    left:0;
    height:55px;
    border-bottom:5px solid #108AC0;
    width:100%;
    background-color:white;
    z-index: 9999;
}

/*EQUIPE-----------------------------------------------------------------------*/

.disciplinas{
    background-color:white;
    position:relative;
    float:right;

    -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.2);
}

.top-disciplinas{
    position:relative;
    top:0px;
    width:50%;
    height:50px;
    text-align:left;
    padding-left:5%;
    padding-top: 1.2%;
    background-color:#108AC0;
    color:white;
    
    font-weight:300;
}

.disciplinas-content{

    position:relative;
    padding-left:0%;
    padding-right:0%;
    font-weight:100;
    top:5%;
    
    margin:0 auto;
    margin-left:5%;
}

.disciplinas-content a{text-decoration:none;}
.disciplinas-content header{text-align:center;}


.team-member{
width:300px;
height: 258px;
margin-bottom: 180px;
margin-left: 50px;
float: left;
text-align:center;
}

.team-member h4{
color:#58585B;
font-size:15px;
font-weight:400;
text-align:center;
}

.team-member h3{
font-weight: 600;
font-size: 18px;
color: #58585B;
text-align:center;
}

.team-member-avatar,.team-member{
width: 205px;
height: 205px;
overflow: inherit;
position: relative;
-webkit-box-shadow: inset 0 -120px 60px -60px rgba(42, 82, 113, 0);
box-shadow: inset 0 -120px 60px -60px rgba(42, 82, 113, 0);
background-color: #fafafa;
background-repeat: no-repeat;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-webkit-font-smoothing: antialiased;
-webkit-transition: all 0.32s ease;
-moz-transition: all 0.32s ease;
-o-transition: all 0.32s ease;
-ms-transition: all 0.32s ease;
transition: all 0.32s ease;
overflow:visible;
}

.subtitle{font-weight:500;padding-right:10px;font-size:20px;padding-top:20px;}
.content-perfil{font-size:18px;}

.disciplinas-content p{display:inline;padding-top:20px;}
.disciplinas-content ul{padding-left:0px;margin-left:0px;}

