/*================================== RECOACOMP LANDING PAGE CSS ==================================*/

body,
html {
    width: 100%;
    height: 100%;
}

div.fixedBackgroundGradient {  
      background: -moz-linear-gradient(top, rgba(38,179,232,0.8), rgba(117,204,214,0.8)), url("../img/pattern1.png");
    background: -webkit-linear-gradient(bottom, rgba(38,179,232,0.8), rgba(117,204,214,0.8)), url("../img/pattern1.png");
    background: -o-linear-gradient(top, rgba(38,179,232,0.8), rgba(117,204,214,0.8)), url("../img/pattern1.png");
    background: linear-gradient(to top, rgba(38,179,232,0.8), rgba(117,204,214,0.8)), url("../img/pattern1.png"); 
  height: 100%; width: 100%;  
  position: fixed; top: 55px; left: 0px;  
  z-index: 0000;
}

/*HEADER---------------------------------------------------------------------*/


#logo {

    margin: 5px;
    float: left;
    width: 260px;
    height: 40px;
    background: url(../img/recoacomp-logo.png) no-repeat center;
    display: block;
    margin-bottom:0px;

}

nav {
    float: right;
    padding: 5px;  
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    float: left;
    padding: 10px
}

.header-large {
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    height:55px;
    border-bottom:5px solid #108AC0;
    width:100%;
    font-weight:100;
    color:black;
    z-index:999;
}

.header-large a {text-decoration:none;color:black;}
.header-large a:hover, a:active {color:grey;}

#menu-button {
  z-index:10;
  display:none;
  position:absolute;
  right:9px;
  top:15px;
}

#menu-button span{
  display:block;
  margin: 4px 0px 4px 0px;
  height:2px;
  background:#333333;
  width:22px;
}

@media only screen and (max-width : 640px) {

header {
    z-index:10;
    position: absolute;
    background-color:white;
    height:55px;
}

nav {
  float:none;
  padding:0px;
}

#menu-button {
  display:block;
}

#menu-nav {
  display:none;
  top:5px;
  position:relative;
  margin:0px;
  height:100%;
  width:100%;
  box-shadow:rgba(50, 50, 50, 0.2) 5px 5px 0px 0px;
}

#menu-nav li{
  background:white;
  border-top: 1px solid #dedede;
}

#last-item {
  box-shadow:rgba(50, 50, 50, 0.2) 0px 5px 0px 0px;
}

nav ul, { 
        z-index:10;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid #108AC0;
        right: 20px;
        top: 60px;
        width: 30%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {
        z-index:10;
        text-align: center;
        width: 100%;
        padding: 5px 0;
        margin: 0;

    }
}

/*LOGIN-----------------------------------------------------------------------*/

div.login form { /*customização básica do from*/
    display:block;
    width:70%; 
    margin:0 auto;
    text-align:left;
     position:relative;
     color:#58585B;
     font-size:16px;
     font-weight:100;
     padding-bottom: 10px;
     line-height:150%;
}

div.login a { /*muda cores e etc de links dentro do form*/
    font-weight:700;
    color:#58585B;
    text-align:left;
}

form a:hover, form a:active { /*muda cores e etc de links quando em hover ou active*/
    color:#58585B;
}

div.login span {
    color:#58585B;
    font-weight:100;
    font-size:14px;
    margin:15px 0 15px 0;;
}

div.login span.light a {
    color:#C0C0C0 ;
    font-weight:100;
    font-size:14px;
}

div.login input[type=submit] { /*botão login*/
  border: 0;
  margin:10px 0 15px 0;
  width:100%;
    background: -webkit-linear-gradient(left, #26B3E8, #75CCD6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #26B3E8, #75CCD6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #26B3E8, #75CCD6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #26B3E8, #75CCD6); /* Standard syntax (must be last) */
  color: white;
  padding: 8px 14px;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
  display: inline-block; /* needed for anchors */
  position: relative;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    0px 4px 0px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         0px 4px 0px 0px rgba(50, 50, 50, 0.47);

  }

  div.login input[type=submit]:active { /*botão login pressionado*/
    -moz-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -o-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    
    -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    0px 1px 0px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         0px 1px 0px 0px rgba(50, 50, 50, 0.47);
  }

.intro-header {
    height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

    color: #f8f8f8;
    background-size: cover;

    padding: 5% 0;
    z-index:999;
}

.container {
  padding: 10% 0;
}

.top-login { /*header da janelinha do login*/
    height:50px;
    padding-top:12px;
    text-align:left;
    padding-left:12%;

    background-color:#108AC0;
    color:white;
    font-size:30px;
    font-weight:300;
    margin-bottom:15px;
}

.login { /*janelinha do login*/	
    background-color:white;
    position:inherit;
    padding:0%;
    margin-top:10%;
    
    margin-left:auto;
    margin-right:auto;

    height:30%;
    width: 380px;
    min-width:30%;
    min-height:340px;
    max-height:370px;
    
    -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.2);
}

/*PATROCINIO-----------------------------------------------------------------------*/
.patrocinio {
  margin-top:20px;
  position:relative;
  width:36%;
  margin-left:auto;
  margin-right:auto;

  color: #f8f8f8;
  z-index:999;
  }

.patrocinio-content {
  margin-left:auto;
  margin-right:auto;
  display:flex;
  width:100%;
}

.patrocinio-content-item {
  margin-left:auto;
  margin-right:auto;
  display:inline-block;
  height:100%;
  font-weight:100;
  font-size:16px;
}

.patrocinio-content-item img {
  padding-top:5px;
  padding-left:5px;
}

/*MODALWINDOW-----------------------------------------------------------------------*/
.modalDialog {
    position: fixed;
    font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {     
    width: 500px;     
    height:auto;

    position: relative;     
    margin: 10% auto;     
    padding: 0px 0px 2% 0px;     
    border-radius: 5px;
    background: #fff;  
    text-align:center;   
}

.close {
    z-index:9999;
    background: #108AC0;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    
}

.top-cadastro { /*header da janelinha do login*/
    height:50px;
    padding-top:12px;
    text-align:center;
    padding-left:0%;

    background-color:#108AC0;
    color:white;
    font-size:30px;
    font-weight:300;
    margin-bottom:20px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


@media only screen and (max-width : 425px) {
    
    .intro-header {
        padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
        padding-bottom: 50px;
        min-height:62%;
        max-height:62%;
        text-align: center;
        color: #f8f8f8;
        background: url(../img/intro-bg.png) no-repeat center center;
        background-size: cover;

        padding: 5% 0;
    }

    .container{
        padding: 10% 0;
    }

    .top-login{ /*header da janelinha do login*/
        position:relative;
        top:0px;
        width:100%;
        height:50px;
        text-align:left;
        padding-left:15%;

        background-color:#108AC0;
        color:white;
        font-size:30px;
        font-weight:300;
    }

    .login{ /*janelinha do login*/
        z-index:50;
      
        background-color:white;
        position:inherit;
        padding:0%;
        margin-top:200px;
        margin-left:auto;
        margin-right:auto;
        height:40%;
        width: 100%;
        min-width:30%;
        min-height:200px;
        max-height:370px;
        
        -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.2);
        -moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.2);
        box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.2);
    }

    .patrocinio {
      margin-top:20px;
      position:relative;
      width:100%;
      margin-left:auto;
      margin-right:auto;

      color: #f8f8f8;
      z-index:999;
      }
}