.tooltiploco {
	font-size:11px;
 	width:20px;
 	display:inline-block;
	float: left;
	margin-left: 5px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 17px;
	padding-left:-2px;
	z-index: 9999;
}


.tooltipSort {

}

.mensagemTooltiploco {
	position: relative;
	top: -25px;
	left: 30px;
	height: 25px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #000;
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	width: auto;
	border-radius: 10px;
	z-index: 9999;

}

.mensagemTooltipSortable {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
	height: auto;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	background-color: #000;
	color: #fff;
	vertical-align: middle;
	display: table-cell;
	width: 400px;
	border-radius: 10px;
	z-index: 9999;

}