
/*HEADER---------------------------------------------------------------------*/
@media only screen and (max-width : 640px) {

/*tem que arrumar o menu em mobile porque quando clica não funiona direito (precisa de js)*/

header{
    z-index:10;
    position: absolute;
    background-color:white;
    height:55px;
}

#menu-icon{
    display:inline-block;
    z-index:10;
}

nav ul, nav:active ul { 
        z-index:10;
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 5px solid #108AC0;
        right: 20px;
        top: 60px;
        width: 30%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {
        z-index:10;
        text-align: center;
        width: 100%;
        padding: 5px 0;
        margin: 0;

    }

    nav:hover ul {
        z-index:10;
        display: block;

    }
}


/*HEADER---------------------------------------------------------------------*/
@media only screen and (max-width : 640px) {

/*tem que arrumar o menu em mobile porque quando clica não funiona direito (precisa de js)*/

header{
    z-index:10;
    position: absolute;
    background-color:white;
    height:55px;
}

.header-large{
    font-weight:100;
    color:black;
}

.header-large a{text-decoration:none;color:black;}
.header-large a:hover, a:active{color:grey;}

#menu-icon{
    display:inline-block;
    z-index:10;
}

nav ul, nav:active ul { 
        z-index:10;
        display: none;
        position: absolute;
        padding: 20px;
        background: #fff;
        border: 4px solid rgba(0, 0, 0, 0.2);
        right: 20px;
        top: 60px;
        width: 30%;
        border-radius: 4px 0 4px 4px;

    }

    nav li {
        z-index:10;
        text-align: center;
        width: 100%;
        padding: 5px 0;
        margin: 0;

    }

    nav:hover ul {
        z-index:10;
        display: block;

    }
}

/*SIDEBAR-----------------------------------------------------------------------*/

.sidebar{
    width:100%;
    height:40px;
    position:relative;
    background-color:#f9f9f9;
}


.top-sidebar{
    padding:3px;
    position:relative;
    height:100%;
    text-align:left;
    padding-left:5%;
    padding-right:5%;

    background-color:#108AC0;
    color:white;

    
    font-size:18px;
    font-weight:100;

    float:left;
}

.sidebar-menu{
    text-align:center;
    font-size: 2vh;
    font-weight:100;
    padding:3px;
}

.sidebar-content{
    padding-left:0%;
    padding-right:0%;
}

.sidebar-menu a{
    text-decoration:none;
    color:#58585B;
}

.sidebar-menu li:hover > ul {display:block;}
.home-hover li:hover {background: #f9f9f9;z-index:1000;}
.home-hover li a{display: block;width:100%; color: #757575;padding-top:2px;text-align:center;padding-left:0px;padding-right:0px; text-decoration: none;}
.sidebar-menu ul {display:none;}
.home-hover li {float: left;}

.sidebar-menu li ul li{margin-left:-20px;padding:2px;z-index:1000;float:left;}

.sidebar-menu li{
    display:inline;
    padding-left:2%;
    padding-right:2%;
    float:left;

}

#home{width:180px;background-color:#f9f9f9;z-index:1000;}



/*DISCIPLINAS-----------------------------------------------------------------------*/

.disciplinas{
    background-color:white;

    height:60%;
    min-height:500px;
    max-height:600px;

    width:90%;
    left:5%;
    top:50px;

    margin-right:10%;
    position:relative;

    float:left;

    -webkit-box-shadow: 5px 5px 0px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    5px 5px 0px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         5px 5px 0px 0px rgba(50, 50, 50, 0.2);
}

.top-disciplinas{

    width:100%;

    font-size:30px;
    font-weight:300;
}

.disciplinas-content{
    padding-left:5%;
    padding-right:5%;
    width:95%;
    height:82%;
}

.disciplinas-item{
    margin-left:-20px;
    position:relative;
    background-color:white;
    display:block;
    height:auto;
    top:10px;
    width:100%;
    margin-bottom:15px;
}

.disciplina-item-content{width:95%;padding:10px;}
.disciplinas-item{width:105%;margin-left:-10px;}
.disciplinas-list{margin-left:0px;padding-left:0px;}

.button{width:100%;text-align:center;}

input[type=submit]{ /*customiza input de submit*/
  border: 0;
  width:150px;
  white-space: normal;
  text-align:center;
  


    background: -webkit-linear-gradient(left, #26B3E8, #75CCD6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #26B3E8, #75CCD6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #26B3E8, #75CCD6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #26B3E8, #75CCD6); /* Standard syntax (must be last) */
 
  color: white;
  padding: 8px 14px;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
  display: inline-block; /* needed for anchors */
 
    -webkit-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    0px 4px 0px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         0px 4px 0px 0px rgba(50, 50, 50, 0.47);

-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 5px;
  }

 input[type=submit]:hover{
    background: -webkit-linear-gradient(left, #5bc6ee, #75CCD6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #5bc6ee, #75CCD6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #5bc6ee, #75CCD6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #5bc6ee, #75CCD6); /* Standard syntax (must be last) */
 }

  input[type=submit]:active{ /*customiza pra quando estiver ativo (click)*/
    -moz-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -o-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    
    -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow:    0px 1px 0px 0px rgba(50, 50, 50, 0.47);
    box-shadow:         0px 1px 0px 0px rgba(50, 50, 50, 0.47);
  }
/*FOOTER-----------------------------------------------------------------------*/

.row-footer{
    margin-right: -15px;
    margin-left: -15px;

}

.container-footer{
    display:block;
    text-align:center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; 

padding:0% 0%;
}

.span1{
    text-align:center;
    margin-left:1%;
    width:300px;
    float:left;
    vertical-align:middle;
}

.span2{
    text-align:center;
    margin-top:20px;
    width:300px;
    float:right;
    margin-right:1%;
    vertical-align:middle;
}

.span2 a{
    font-weight:100;
    color:#6D6E70;
}

footer {
    padding: 20px 0;
    background-color: #231F20;
    height:;
}

p.copyright {
    margin: 15px 0 0;
}

.footer-logo{
    width:50px;
    height:50px;
    margin-left:5%;
    margin-right:5%;
}